@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "tailwindcss";

.productslider,
.BestSellers,
.products-wrapper {
  font-family: "Inter", sans-serif;
  width: 85%;
  margin: auto;
}


.tags{
  @apply border border-[#EDEEF5] py-1.5 px-2.5 ;
}

.side_title{
    @apply font-[Dosis] font-semibold text-sm uppercase;
}

.social{
    @apply flex items-center rounded-sm mb-1 py-2 px-4 cursor-pointer; 
}

.starIcon{
    @apply text-[#FFCD00] mr-0.5;
}
.swiper-pagination-bullet {
  width: 25px !important;
  height: 25px !important;
  background: transparent !important;
  color: black;
}

.swiper-pagination-bullet-active {
  background: #35AFA0 !important;
  color: white;
}